@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:black;
    height: 100%;
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .animate-typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid;
    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
  }
}

  

  

