h1{
    font-size: 45px;


}

p{
    font-size: 20px;

    
}

.konten{
    padding: 10px;
    margin: 50px auto;
    width: 700px;
    align-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 60%; /*Jarak Text seperti pencet enter*/

}

.text2{
    background-color: rgb(0, 94, 255);
    align-content: center;
    text-align: center;
    margin: 0px auto;
    width: 150px;
    height: 60px;
    color:white;
    border-radius: 10px;
    border: 5px double black;

}

.text2:hover{
    background-color: tan;
    cursor: pointer;
}


